@{
    ViewBag.Title = "Converter";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<!--added everything below-->
<div class="row">

    <form action="">
        <div class="col-md-6 form-group">
            <label for="input">
                Miles:
            </label>

            <input type="number" class="layout-form" id="input" step=".01" name="mile" placeholder="Type your distance" required/>
        </div>

        



    </form>
























</div>