@{
    ViewBag.Title = "Convert Miles to Metric";
}
<h2>@ViewBag.Title</h2>


<b>Miles</b>

<!--added everything below after first major file edit commit-->
<div class="row">

    <form action="">


        <div class="col-md-6 form-group" >

            <input type="number" style="border-radius: 7px; width: 300px; height: 35px"   class="layout-form" id="input" step=".01" name="mile" placeholder="Type the distance" required="required" />

        </div>

        <div class="col-md-6 form-group" style="margin-top: -50px">

            <h3>Select a unit</h3>
            <hr style="margin-top: -8px">

            <div class="form-check">
                <input class="form-check-input" type="radio" name="metric-unit" id="mm" value="millimeters"  checked/>
                <label class="form-check-label" for="ul">Millimeters</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="metric-unit" id="cm" value="centimeters" />
                <label class="form-check-label" for="ul">Centimeters</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="metric-unit" id="m" value="meters" />
                <label class="form-check-label" for="ul">Meters</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="metric-unit" id="km" value="kilometers" />
                <label class="form-check-label" for="ul">Kilometers</label>
            </div>


            <br />
        </div>

        <button style="margin:auto;display:block" align="center" class="btn btn-primary" type="submit">Convert</button>








    </form>

    @*This evaluates the value of check in Viewbag to ensure valid information was submitted by the user*@
   
    @if (ViewBag.checkMeasure == true && ViewBag.checkUnit == true)
    {
         <h3 style="color:darkred"><b> @ViewBag.Message</b></h3>
    }
    else
    {
         <h3 style="color:red"><b> @ViewBag.Message</b></h3>
    }
   

</div>