@*This file specifieds the text containers and content for the landing page.*@
@{
    ViewBag.Title = "Home Page"; // Title of the homepage.
}

@*This contains a basic description of the assignment to be displayed on the introduction component of the web page.*@
<div class="jumbotron">
    <h1>CS 460 Homework 4</h1>
    <p class="lead">
        This assignment demonstrates the implementing of a few forms, some simple server-side logic,
        learning the basics of GET, POST, query strings,
        and form data along with handling all of it via a ASP.NET MVC 5 application.

    </p>
     <p><a href="http://www.wou.edu/~morses/classes/cs46x/assignments/HW4_1819.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> 
    
</div>

<div class="row">
    @*This contains a description of what the mile distance converter does and the button that leads to it.*@
    <div class="col-md-6">
        <h2>Mile to Metric Converter</h2>
        <p>
            Ever wonder how many millimeters make up a mile or how large a kilometer is relative to a mile?
            Well wonder no longer! This calculator well answer these questions and more!
            Note that it uses query strings to send form data obtained from user input to the
            server. The server will calculate the answer and return it in the requested page to the user.
        </p>
        @*This specifies the button that links and takes the user to the Converter page via a Razor Html.ActionLink()
           The first parameter gives the name of the button, the second gives the name of a controller function,
            and the third, the name of the folder that contains the file with the appropriate View.*@
        <p><a class="btn btn-primary" @Html.ActionLink("Try it!", "Converter", "Home")</a></p> 
    </div>


</div>