
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/Home/Index" method="get">
    <div class="row">
        <div class="col-sm-20">
            <input name="text" id="textbox" placeholder="Start typing your message here..." />
        </div>
    </div>
</form>

<div class="row">
    <div id="live-display">
        <!--content will appear here.-->
    </div>
</div>