@*This file describes some of the form as well as the text content of the landing page and the page option descriptions.*@

@{
    ViewBag.Title = "Home Page"; // Title of the homepage.
}

@*This contains the message displayed to a user for the introduction component of the web page.*@

    <div class="jumbotron">
        <h1>Apex Campus Apartments Maintenance</h1>
        <p class="lead">
            Welcome to the maintenance page for your campus apartments.
        </p>

    </div>

    <div class="row">

        @*This contains a description of the button that links to the "make a request" page.*@
        <div class="col-md-6">
            <h2>Need to make a Request?</h2>
            <p>
                Have a problem or a complaint? Look no further! Simply click on the button below to get to the page for making requests.
            </p>

            @*This specifies the button that links and takes the user to the "make a request" page via a Razor Html.ActionLink()
                The first parameter gives the name of the button, the second gives the name of a controller function i.e. Create(),
                 and the third, the name of the folder that contains the file with the appropriate View.*@
            <p><a class="btn btn-primary" @Html.ActionLink("Make a Request", "Create", "Requests") </a></p>

        </div>

        @* This describes the option to see all previously entered requests.*@
        <div class="col-md-6">
            <h2>See Known Requests</h2>
            <p>
                Need to see how far down the list you are? Then click on the button below to see how you fair.

            </p>

            @* This is the button for the user to click.
                It is a Razor Html.ActionLink where the first paramenter specifies the text of the button, the second is
                 the name of the relevant controller function i.e Listing(), and the third is the name of the folder that contains the Views.*@
            <p><a class="btn btn-primary" @Html.ActionLink("View Requests", "Listing", "Requests") </a></p>
        </div>

    </div>
